<%- include('_header'); %>

<% if(typeof(user) !== "undefined") { %>
    <script> window.location.replace("/")</script>
<% } else { %>
    <div class="container">
        <form action="/user/process-signin" method="POST">
            <p class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" >
            </p>
            <p class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" >
            </p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <p class="form-group form-group-submit">
                <button>Login</button>
            </p>
        </form>
    </div><!--container -->
<% } %>

<%- include('_footer'); %>